<section class="inicio">
    <div class="container">
        <br>
        <h1 class="text-center" title="Hola">¡El mejor servicio para tu auto!</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Te ofrecemos</h2>
                <br>
                <ul style="font-size: 1.3rem;">
                    <li>Filtros de aire, aceite y combustible</li>
                    <li>Cambios de aceite</li>
                    <li>Lubricantes</li>
                    <li>Valvulinas</li>
                    <li>Liquido de frenos</li>
                    <li>Asesoria en compra y venta de vehículos</li>
                    <li>Mantenimiento General</li>
                </ul><br>
                <button type="button" name="" id="" class="btn btn-success btn-block">Contactar Ahora</button>
                <button type="button" name="" id="" class="btn btn-primary btn-block">Contactar Ahora</button><br>
                <h4 class="text-center">¡Servicio a domicilio completamente gratuito!</h4>
                <br>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/collagebsg.png" class="w-75" alt="">
                <h5 class="text-center">¿No encuentras tu marca favorita?</h5>
                <h5 class="text-center">¡Nosotros la conseguimos para usted!</h5>
            </div>

        </div>
    </div>
</section>
<section class="nosotros">
    <div class="container">
        <br>
        <h1 class="text-center">Nosotros</h1><br>
        <div class="row">
            <div class="col-md-5">
                <h1>Misión</h1>
                <p>Proporcionar el mejor servicio de venta y cambio de aceite y filtros para automóviles y mantenimiento en general, ayudando a la conservación de los autos de nuestros clientes, satisfaciendo sus necesidades y espectativas, proporcionando
                    un estado de operación eficiente y seguro a sus vehículos.</p><br><br><br>
                <h1 class="text-left">Visión</h1>
                <p class="text-left">Llegar a ser el mejor proveedor de Filtros y Aceites de la zona, garantizando la mejor calidad y proporcionando soluciones efectivas en el mantenimiento automotriz, priorizando en el servicio al cliente y la confianza del mismo.</p>
            </div>
            <div class="col-md-7">
                <img src="../../../assets/local.jpg" class="w-100" alt="">
            </div>
        </div><br>
        <h1 class="text-center">¡Visitanos!</h1>
        <h3 class="text-center">Carrera 29 #75A 01</h3>
        <br>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15906.31366741556!2d-74.0695432!3d4.6689976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29a0e6ca3aebeb7b!2sBSG%20Filtros%20y%20Lubricantes.!5e0!3m2!1ses-419!2sco!4v1603036170606!5m2!1ses-419!2sco"
                frameborder="0" class="embed-responsive-item" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <br><br>
    </div>
</section>
<section class="contacto">
    <div class="container">
        <br><br>
        <h1 class="text-center">Contactanos</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3>Disponibles para ti 24/7</h3>
                <br><br>
                <button type="button" name="" id="" class="btn btn-success btn-lg btn-block">Whatsapp</button><br>
                <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Facebook</button><br>
                <button type="button" name="" id="" class="btn btn-warning btn-lg btn-block">Correo</button><br>
                <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block">3143367644</button><br>
            </div>
            <div class="col-md-6">
                <img class="w-100" src="../../../assets/cc.png" alt="">
            </div>
        </div>
    </div>
</section>